{% extends 'core/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="card bg-primary mx-auto" style="width: 92rem; height: 42rem">
    <h2 align=center class="card-header"> О нас</h2>
    <br>
    <div align="center">
        <h4 class="font-weight-bold">Мы - одна из крупнейших девелоперских компаний России.</h4>
        <h4 class="font-weight-light">Основана в 2020 году.</h4>
        <h4 class="font-weight-light">Наша специализация - строительство и реализация различных видов жилья начиная от эконом-класса до элитного
            жилья.</h4>
        <h4 class="font-weight-light">С начала основания было построенно свыше ста объетов, которые включают множество категорий жилых
            помещений.
            Большая часть построенных объектов располагается в Москве и Московской области.</h4>
    </div>
</div>

{% endblock %}