{% extends 'core/base.html' %}

{% block title %}
Основные данные
{% endblock %}

{% block body %}
<div class="col-6 mx-auto">

    <div align=center>
        <div class="card-header ">
            <h2 class="font-italic">Основные данные по этой заявке</h2>
        </div>
        <br>
        <h5 class="text-primary">Запомните выделенные <a class="text-danger">красным</a> поля!</h5>
        <p class="font-weight-light">Они понадобятся для поиска полной информации по заявке.</p>
        <hr class="my-3">
        <br>
    </div>
    <form align=center>
        <div class="row">
            <div class="col">
                <p>Идентификатор заявки:</p>
                <p class="col border border- p-2 mb-2 bg-danger rounded">
                    <a class="row ml-1 text-light">{{ id_zaya }}</a>
                </p>

                <p>Идентификатор выбранной квартиры {{ formZ.id_kv }}</p>
                <p>Код покупателя {{ formZ.kod_client }}</p>
            </div>
            <br>
        </div>
        <hr class="my-3">
        <button class="btn btn-outline-primary" type="button"
                onclick="return location.href = '{% url 'home' %}'">На главную
        </button>
    </form>

</div>


{% endblock %}



