{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static  'core/css/main.css' %}">
    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/jquery.maskedinput.min.js' %}"></script>

</head>
<body>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h4 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="{% url 'home' %}">Компания-застройщик</a></h4>
    <nav class="mr-md-5">
        <a class="p-2 text-dark" href="{% url 'about' %}">О нас</a>
    </nav>

    <a class="btn btn-outline-primary" href="{% url 'login' %}">Войти</a>
</div>
<div class="conteiner">
    {% block body %}

    {% endblock %}
</div>
</body>
</html>