{% extends 'core/base.html' %}

{% block title %}
Панель сотрудника
{% endblock %}

{% block body %}
<h4>Панель сотрудника</h4>
{% if zayavka.count > 0 %}
<h3 align=center>Cписок заявок</h3>
<table align=center class=" text-center table table-bordered table-condensed table-striped table-hover">
    <tr>
        <th>ИД заявки</th>
        <th>Дата</th>
        <th>Описание</th>
        <th>Код клиента</th>
        <th>Код сотрудника</th>
    </tr>
    {% for zayavka in zayavka %}
    <tr>
        <td>{{ zayavka.id_zaya }}</td>
        <td>{{ zayavka.data_zaya }}</td>
        <td>{{ zayavka.id_kv }}</td>
        <td>{{ zayavka.kod_client }}</td>
        <td>{{ zayavka.kod_sotrudn }}</td>
    </tr>

    {% endfor %}
</table>
{% endif %}


{% endblock %}