{% extends 'core/base.html' %}

{% block title %}
Квартира
{% endblock %}

{% block body %}

<form>
    <div align="center">
        <div class="" style="width: 95%">
            <div class="row">
                <div class="col-5">
                    <img src="{{ MEDIA_URL }}{{ kv_v.image.url}}" class="img-thumbnail mx-auto d-block"
                         style="width:40rem">
                    <br><br>
                    <hr class="my-2">
                    <a class="ml-3 text-danger">* Ознакомительная информация</a>
                    <div class="row">
                        <div class="col">
                            <a>Полная инфраструктура включает:</a>
                            <p class="font-weight-light">🞄 Социально-бытовая (ЖКХ, торговля и банки и тд.)</p>
                            <p class="font-weight-light">🞄 Социально-культурная (Все образовательные учереждения,
                                здравохранения и тд.)</p>
                        </div>
                        <div class="col">
                            <a>Не полная инфраструктура включает:</a>
                            <p class="font-weight-light">🞄 Социально-бытовая (ЖКХ, торговля) </p>
                            <p class="font-weight-light">🞄 Социально-культурная (Не все образовательные учереждения,
                                здравохранения и тд.)</p>
                        </div>
                    </div>
                    <p class="font-italic">(Подробности уточняйте у персонала)</p>

                    <hr class="my-2">
                    <p>Для покупки данной квартиры необходимо, заполнив все поля, оставить заявку.</p>
                    <br>
                    <a class="btn btn-warning btn-lg" href="{% url 'new_cli' %}">Оставить заявку</a>
                </div>
                <div class="col-7">
                    <h3 class="font-italic">Объект застройки</h3>
                    <table class="table p-3 mb-2 bg-light text-dark rounded">
                        <tr>
                            <th>Улица</th>
                            <th>{{ kv_v.street }}</th>
                        </tr>
                        <tr class="text-primary">
                            <th>Вид жилья</th>
                            <th>{{ kv_v.naim_jil }}</th>
                        </tr>
                        <tr>
                            <th>Номер здания</th>
                            <th>{{ kv_v.num_zd }}</th>
                        </tr>
                        <tr>
                            <th>Количество этажей</th>
                            <th>{{ kv_v.kol_vo_et }}</th>
                        </tr>
                        <tr class="text-primary">
                            <th>Парковка</th>
                            <th>{{ kv_v.parkov }}</th>
                        </tr>
                        <tr>
                            <th>Транспортная доступность</th>
                            <th>{{ kv_v.trans_dos }}</th>
                        </tr>
                        <tr>
                            <th>Социальная инфраструктура</th>
                            <th>{{ kv_v.soc_infr }} <a class="text-danger">*</a></th>
                        </tr>
                        <tr>
                            <th>Места для отдыха</th>
                            <th>{{ kv_v.rekreaciya }}</th>
                        </tr>
                    </table>

                    <hr class="my-4">

                    <h3 class="font-italic">Квартира</h3>
                    <table class="table p-3 mb-2 bg-light text-dark rounded">
                        <tr class="text-primary">
                            <th>Категория</th>
                            <th>{{ kv_v.naim_kat }}</th>
                        </tr>
                        <tr>
                            <th>Номер этажа</th>
                            <th>{{ kv_v.num_etag }}</th>
                        </tr>
                        <tr>
                            <th>Номер квартиры</th>
                            <th>{{ kv_v.num_kv }}</th>
                        </tr>
                        <tr>
                            <th>Количество комнат</th>
                            <th>{{ kv_v.kol_vo_kom }}</th>
                        </tr>
                        <tr>
                            <th>Площадь</th>
                            <th>{{ kv_v.area }} кв.м.</th>
                        </tr>
                        <tr class="text-danger">
                            <th>Стоимость</th>
                            <th>{{ kv_v.stoim }} ₽ </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}