{% extends 'core/base.html' %}


{% block title %}
Логин
{% endblock %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block body %}

<form class="align-content-center">
    <fieldset>

        <!-- Form Name -->
        <legend>Вход</legend>

        <!-- Login input-->
        <div class="form-group align-center">
            <label class="col-md-4 control-label" for="textinput">Логин</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="Логин" class="form-control input-md">
                <span class="help-block">Введите логин</span>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Пароль</label>
            <div class="col-md-4">
                <input id="passwordinput" name="passwordinput" type="password" placeholder="Пароль"
                       class="form-control input-md">
                <span class="help-block">Введите пароль</span>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button id="button1id" name="button1id" class="btn btn-success">Подтвердить</button>
                <button id="button2id" name="button2id" class="btn btn-warning">Отмена</button>
            </div>
        </div>

    </fieldset>
</form>
{% endblock %}