{% extends 'core/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}

<form>
    <div class="display">
        <div align=center class="container">
            <div class="card-header">
                <h2 class="display-6 font-italic">Список квартир</h2>
            </div>
            <br>
            <div class="row">
                {% if menu %}
                {% for el in menu %}

                <div class="col">
                    <div class="card indent bg-primary " style="width: 20rem; height: 26rem">
                        <div class="card-img-top">
                            {% if el.image %}
                            <img src="{{ MEDIA_URL }}{{ el.image.url}}" class="img-fluid" style="height: 15rem">
                            {% endif %}
                        </div>

                        <div class="card-body  border border-warning">

                            <p> Количество комнат: {{ el.kol_vo_kom }} </p>
                            <p> Стоимость: {{ el.stoim }} ₽ </p>

                            <a href="{% url 'kvartdeteil' el.id_kv %}" class="btn btn-outline-info">Подробнее</a>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p align=center>Все квартиры распроданы</p>
        {% endif %}
    </div>

</form>

{% endblock %}