{% extends 'core/base.html' %}

{% block title %}
Новая заявка
{% endblock %}

{% block body %}
<form align=center method="POST" action="new_application">
    {% csrf_token %}
    <p>
        <label>Введите дату</label><br>
        <input type="date" name="data_zaya"/>
    </p>
    <p>
        <label>Введите описание</label><br>
        <input type="text" name="opisanie"/>
    </p>
    <p>
        <label>Введите код клиента</label><br>
        <input type="text" name="kod_client"/>
    </p>
    <p>
        <label>Введите код сотрудника</label><br>
        <input type="text" name="kod_sotrudn"/>
    </p>
    <input type="submit" value="Сохранить">
</form>
{%endblock%}