{% extends 'core/base.html' %}

{% block title %}
Новая заявка
{% endblock %}

{% block body %}
<script>
        $(document).ready(function(){
        $("#phone").mask("+7(999) 999-99-99");
        $("#pasp").mask("9999 999999");
        });

</script>
<div class="col-7 mx-auto ">
    <div align=center>
        <h3 class="font-italic">Новая заявка на покупку квартиры</h3>
        <hr class="my-3">
        <p>Для заполнения заявки, Вам необходимо ввести Ваши личные данные</p>
        <p>Все поля данной формы бязательны к заполению! должны быть корректно заполнены.</p>
        <hr class="my-3">
        <br>
    </div>
    <form align=center method="post">
        {% csrf_token %}
        <div class="row">
            <button class="btn btn-outline-danger" type="button" onclick="history.back()">
                <p class="tar">Назад</p>
            </button>
            <div class="col">
                <p>Введите Ваше ФИО: {{ formC.fio_client }}</p>
                <p>Введите серию и номер паспорта: {{ formC.pasp }}</p>
                <p>Введите номер телефона: {{ formC.phone }}</p>
                <p>Выберите социальный статус: {{ formC.status }}</p>
            </div>

            <br>
            <button class="btn btn-outline-success" type="submit"><p class="tar">Далее</p></button>
            <div class="w-100"></div>
            <p class="mx-auto font-weight-lighter">Все поля данной формы обязательны к заполению! </p>
        </div>
        <span>{{ error }}</span>
    </form>

</div>

{%endblock%}