{% extends 'core/base.html' %}

{% block title %}
Поиск заявки
{% endblock %}

{% block body %}

<script>
        $(document).ready(function(){
        $("#pasp").mask("9999 999999");
         });


</script>

<form method="post">
    {% csrf_token %}
    <div class="col-6 mx-auto card-header rounded border border-info">
        <h3 align=center class="font-italic">Поиск заявки</h3>
        <hr class="my-3">
        <div align=center class="form-group">
            <br>
            <div class="col-md">
                <p>Введите идентификатор заявки: {{ formS.id_zaya }}</p>
            </div>

            <div align=center class="form-group">
                <div class="col-md">
                    <p>Введите паспортные данные: {{ formS.pasp }}</p>
                </div>
            </div>

        </div>
        <hr class="my-4">
        <div align=center class="form-group">
            <div class="col-md-8">
                <button id="ok" class="btn btn-primary">Подтвердить</button>
                <button id="cancel" type="button" class="btn btn-warning"
                        onclick="return location.href = '{% url 'home' %}'">Отмена
                </button>
            </div>
        </div>
    </div>
    <span>{{ error }}</span>
</form>

{% endblock %}
